@{
    ViewBag.Title = "Elasticsearch Recipes";
}

@section jsCode {
    angular.bootstrap(document.getElementById('recipes'), ['app']);
}

<div id="recipes" ng-controller="RecipeController" ng-cloak>
    <h1>Hi</h1>
</div>