<div class="container text-center">
    <h1>Elasticsearch Recipes</h1>

    <p>
        Supported queries: wildcard (exampl*/exa?ple), must_not (-example), must (example), match_phrase ("example"), must_not match_phrase (-"example")
    </p>

    <form ng-submit="model.search()">
        <autocomplete ng-model="model.query" data="model.completionSuggestions" on-type="model.autocomplete"></autocomplete>
        <!--<a ui-sref="recipes.search({ query: model.query, pageSize: model.pageSize, page: 1 })" class="btn btn-default">Go</a>-->
    </form>

    <br />

    <label>Page size</label>

    <select ng-model="model.pageSize" ng-change="updatePageSize()">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>

    <div ui-view=""></div>
</div>