<div class="container text-center">
    <h1>Elasticsearch Recipes</h1>

    <p>
        Supported queries: wildcard (exampl*), must_not (-example), must (example)
    </p>

    <input ng-model="model.query" type="text" class="input" />
    <a ui-sref="recipes.search({ query: model.query, pageSize: model.pageSize })" class="btn btn-default">Go</a>

    <br />

    <label>Page size</label>

    <select ng-model="model.pageSize">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>

    <div ui-view=""></div>
</div>