<div>
    <div>
        Took: {{ model.searchData.elapsedMilliseconds }}ms, Page: {{ model.searchData.page }}, Results count: {{ model.searchData.total }}
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Prep Time</th>
                <th>Link</th>
                <th>More like this</th>
            </tr>
        </thead>
        <tr ng-repeat="recipe in model.searchData.results" md-highlight-text="asdf">
            <td>{{ recipe.id }}</td>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.prepTime }}</td>
            <td>
                <a href="{{ recipe.url }}">Go to recipe</a>
            </td>
            <td>
                <a ui-sref="recipes.morelikethis({ id: recipe.id})">More like this</a>
            </td>
        </tr>
    </table>

    <ul uib-pagination total-items="model.searchData.total" ng-model="model.searchData.page" max-size="10" boundary-link-numbers="true" role="menu" ng-change="model.switchPage()"></ul>
</div>